*{ 
    margin: 0 ; /*deixa a margem esquerda e direita nula*/
    padding: 0 ; /*deixa a margem superior e inferior nula*/
    box-sizing: border-box;/*cria uma caixa invisivel para o corpo do site*/

}



.topo{
    background-color: rgb(10, 249, 233); /*cor do fundo do topo no side*/
    height: 15vh; /* tamanho do topo do site 15% da tela*/
    
}
.conteudo {
    height: 85vh;
    background-color: rgb(97, 96, 96);




.imagem img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}









}
.logo{


    position: absolute;
    top:50%;
    left:5%;
    transform: translateY(-50%);
}







