*{ 
    margin: 0 ; /*deixa a margem esquerda e direita nula*/
    padding: 0 ; /*deixa a margem superior e inferior nula*/
    box-sizing: border-box;/*cria uma caixa invisivel para o corpo do site*/

}



.topo{
    background-color: rgba(97, 24, 6, 0.89); /*cor do fundo do topo no side*/
    height: 15vh; /* tamanho do topo do site 15% da tela*/
    
}
.conteudo {
    height: 85vh;
    background-color: aliceblue;
.imagem-circular{
    width: 150px;
    height: 15px;
    border-radius: 50%;








}






